---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 100;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Investigación sobre Compliant Mechanisms. Open source software.",
		href: "https://www.flexible.seas.ucla.edu/software",
		title: "Flexible Research Group",
	},
	{
		desc: "Investigación sobre Compliant Mechanisms de la BYU.",
		href: "https://compliantmechanisms.byu.edu/publications",
		title: "BYU CMR",
	},
	{
		desc: "Reversible Androgynous Mechanical Fastener (TOP2-310).",
		href: "https://technology.nasa.gov/patent/TOP2-310",
		title: "NASA Patent",
	},
  {
		desc: "A huge variety of flexure design problems, open source.",
		href: "https://hackaday.com/2022/11/22/an-open-source-modular-flexure-construction-set/",
		title: "Open Source Modular Flexure Collection",
	},
];
---

<PageLayout meta={{ title: "Inicio" }}>
	<section>
		<h1 class="title mb-6">Hola!</h1>
		<p class="mb-4">

      Hola! Soy Luca, y este es el blog que utilizaré como Bitácora para Taller de Prototipos del MCD UAI 20204/25.
      El sitio tiene una bitácora donde actualizaré lo que se haga entre clases y/o descubrimientos fuera del horario de clases.
      Además se almacenará información relevante para la tesis.

		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
